################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/campaignmanager
/.vs/Gupshupcampainmanager
/Gupshupcampainmanager/obj/Debug/net9.0
